.heroContainer1 {
  position: relative;
  /* width: 500px; */
  /* Adjust width as needed */
  /* height: 420px; */
  /* Adjust height as needed */
}

.heroContainer1::before {
  content: "";
  position: absolute;
  top: 15%;
  left: -15%;
  width: 350px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    343deg,
    rgb(254, 94, 0) 0%,
    rgb(254, 94, 0) 82%,
    rgb(254, 94, 0) 100%
  );
  /* rgb(234, 0, 27) */
  filter: blur(180px);
  z-index: -1;
  /* animation: leviation 1.5s ease-in-out infinite alternate; */
}
.heroContainer1::after {
  content: "";
  position: absolute;
  top: 15%;
  left: -25%;
  width: 350px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    343deg,
    rgb(121, 78, 13) 0%,
    rgba(194, 125, 22, 0.618) 82%,
    rgba(247, 159, 26, 0.233) 100%
  );
  filter: blur(220px);
  z-index: -1;
  /* animation: leviation 1.5s ease-in-out infinite alternate; */
}

@keyframes leviation {
  0% {
    transform: translate(0px, -20px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}

.custom-margin-div {
  margin-top: -50px;
}

.custom-devfolio-button {
  background: rgba(39, 39, 42, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(39, 39, 42, 0.5);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.custom-devfolio-button:hover {
  background: rgb(234, 0, 27, 0.5); 
}

@media (max-width: 768px) {
  .custom-margin-div {
    margin-top: 110px;
  }
}